@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
}

h2 {
	color: #000;
  font-family: 'Gotham-Bold';
  font-size: 14px;
  margin: 0 0 2px;
  text-transform: uppercase;
}

a {
	color: #F2645A;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	height: 677px;
	position: relative;
}

#map {
	height: 100%;
}

.mapboxgl-popup-content {
	padding: 10px;
}

/** marker vars **/
$development: #808080;
$endorsed: #F2645A;
$activated: #1BB580;

$drought: '\e94d';
$drought-floods: '\ea4c';
$floods: '\e963';
$plague: '\ea4d';
$storms: '\e93f';

.marker {
  background-size: 100%;
  height: 54px;
	margin-top: -27px; //half the icon height
	width: 38px;
	&:before {
		//content: '\e963';
		content: var(--content, $floods);
  	font-family: 'Humanitarian-Icons-v02';     
  	font-size: 17px;
    position: absolute;
    top: 9px;
    left: 10px;
	}
	&.development:before {
		color: $development;
	}
	&.endorsed:before {
		color: $endorsed;
	}
	&.activated:before {
		color: $activated;
	}
	&.drought:before {
		content: $drought;
	}
	&.drought-floods:before {
		content: $drought-floods;
	}
	&.floods:before {
		content: $floods;
	}
	&.plague:before {
		content: $plague;
	}
	&.storms:before {
		content: $storms;
	}
}

.label {
	color: $development;
  font-family: 'Gotham-Bold';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: auto;
  .type {
  	font-family: 'Gotham-Book';
  	text-transform: capitalize;
  }
	&.development {
		color: $development;
	}
	&.endorsed {
		color: $endorsed;
	}
	&.activated {
		color: $activated;
	}
}

#legend {
	color: #666;
  font-family: 'Gotham-Book';
  font-size: 14px;
	left: 40px;
	position: absolute;
	top: 40px;
	z-index: 2;
	.header {
  	font-family: 'Gotham-Bold';
  	font-size: 16px;
  	margin-bottom: 5px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.icon {
		height: 28px;
		padding-right: 5px;
		vertical-align: middle;
	}
}

#panel {
	background-color: #FFF;
	bottom: 20px;
	height: 230px;
	position: absolute;
	right: 20px;
	width: 350px;
	z-index: 2;
	.panel-inner {
		height: 215px;
		margin: 15px 15px 0;
		overflow-y: scroll;
		padding-bottom: 50px;
	}
	.panel-overlay {
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		height: 230px;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
	}
	table {
		border-spacing: 0;
		border-top: 1px solid #DDD;
		margin: 0 0 20px;
		width: 100%;
		tr {
			text-transform: capitalize;
			vertical-align: top;
			td {
				border-bottom: 1px solid #DDD;
				padding: 2px 0;
				width: 60%;
				&:first-child {
					font-weight: 600;
					width: 40%;
				}
			}
		}
	}
}


@media only screen and (max-width: 767px) {
	#panel {
    left: 50%;
    transform: translateX(-50%);
		width: 90%;
	}
	#legend {
		left: 20px;
		top: 20px;
	}
}
